<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="a" class="cn.bobasyu.test.bean.A">
        <property name="b" ref="b"/>
        <property name="name" value="a"/>
    </bean>

    <bean id="b" class="cn.bobasyu.test.bean.B">
        <property name="a" ref="a"/>
        <property name="name" value="b"/>
    </bean>

</beans>