<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="cn.bobasyu.test.service.UserService3"/>

    <bean class="cn.bobasyu.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

<!--    <bean id="beforeAdvice" class="cn.bobasyu.test.aop.UserServiceBeforeAdvice"/>-->

<!--    <bean id="methodBeforeAdviceInterceptor" class="cn.bobasyu.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">-->
<!--        <property name="advice" ref="beforeAdvice"/>-->
<!--    </bean>-->

    <bean id="userServiceAdvice" class="cn.bobasyu.test.aop.UserServiceAdvice"/>

    <bean id="userServiceMethodInterceptor" class="cn.bobasyu.test.aop.UserServiceMethodInterceptor">
        <property name="advice" ref="userServiceAdvice"/>
    </bean>

    <bean id="aspectJExpressionPointcutAdvisor" class="cn.bobasyu.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cn.bobasyu.test.service.IUserService.*(..))"/>
        <property name="advice" ref="userServiceMethodInterceptor"/>
    </bean>


</beans>